html,
body {
  margin: 0;
  padding: 0;
  background-color: #f4f9fd;
  min-height: 100%;
}
main{
  background-color: #f4f9fd; 
}

.form-style {
  border-top: 2px solid #e1775d;
  background-color: #fff;
  margin: auto;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(162,173,170,0.5);
}